<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Business Consulting HTML Template">
    <meta name="description" content="Betbiz - Business Consulting HTML Template">

    <!-- title  -->
    <title>Betbiz - Business Consulting HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2">
            <div id="top-bar">
                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul class="ps-0">
                                    <li><i class="ti-mobile"></i>(+123) 456 7890</li>
                                    <li class="d-none d-sm-inline-block"><i class="ti-email"></i>addyour@emailhere</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 d-none d-md-block">
                            <ul class="top-social-icon ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-secondary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="#!">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-02.html">Home 02</a></li>
                                                <li><a href="index-03.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="#!">Our Services</a>
                                                    <ul>
                                                        <li><a href="services-01.html">Services 01</a></li>
                                                        <li><a href="services-02.html">Services 02</a></li>
                                                        <li><a href="services-03.html">Services 03</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="faq.html">FAQ's</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                                <li><a href="404-page.html">404 Page</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Service</a>
                                            <ul>
                                                <li><a href="startup-consulting.html">Startup Consulting</a></li>
                                                <li><a href="business-strategy.html">Business Strategy</a></li>
                                                <li><a href="finance-solution.html">Finance Solution</a></li>
                                                <li><a href="market-research.html">Market Research</a></li>
                                                <li><a href="investment-plan.html">Investment Plan</a></li>
                                                <li><a href="detail-report.html">Detail Report</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Portfolio</a>
                                            <ul>
                                                <li><a href="#!">Portfolio Grid</a>
                                                    <ul>
                                                        <li><a href="portfolio-two-columns.html">2 Columns</a></li>
                                                        <li><a href="portfolio.html">3 Columns - Standard</a></li>
                                                        <li><a href="portfolio-four-columns.html">4 Columns</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="#!">Blog Grid</a>
                                                    <ul>
                                                        <li><a href="blog-grid-two-columns.html">2 Columns</a></li>
                                                        <li><a href="blog-grid-two-columns-left-sidebar.html">2 Col – Left Sidebar</a></li>
                                                        <li><a href="blog-grid-two-columns-right-sidebar.html">2 Col – Right Sidebar</a></li>
                                                        <li><a href="blog-grid.html">3 Columns - Standard</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="contact.html" class="butn md"><span>Free Quote</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- BANNER
        ================================================== -->
        <section class="parallax cover-background p-0 dark-overlay" data-overlay-dark="7" data-background="img/banner/slide-04.jpg">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center py-6">
                    <div class="col-lg-7 pt-14 pb-22 py-sm-18 py-lg-20 py-xl-24">
                        <div class="sec-title02 mb-3">
                            <span class="text-secondary font-weight-700 display-28">Consulting, Since 1945</span>
                        </div>
                        <h1 class="text-white display-18 display-sm-14 display-md-11 display-xl-3 mb-4">Consulting When You're Out of Time</h1>
                        <div class="mt-2-6">
                            <div class="story-video d-inline-block align-middle">
                                <a class="video video_btn video_btn-style1 popup-social-video video_btn small" href="https://www.youtube.com/watch?v=pDWUf_g2zsc"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="d-none d-sm-inline-block align-middle font-weight-700 ms-4 text-white text-start">Watch <span class="text-uppercase d-block">intro video</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section class="pt-0 mt-n10 bg-transparent position-relative z-index-9">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class=" col-md-6 col-xl-3 mt-1-9">
                        <div class="card card-style02 border-0 primary-shadow rounded-0 bg-white">
                            <div class="card-body px-1-9 py-2-6 text-center">
                                <div class="position-relative card-icon d-inline-block">
                                    <div class="icon">
                                        <img src="img/icons/icon-05.png" alt="..." class="w-45px">
                                    </div>
                                    <div class="icon-text">
                                        <span>01</span>
                                    </div>
                                </div>
                                <h3 class="h5"><a href="startup-consulting.html">Startup Consulting</a></h3>
                                <p class="text-muted mb-4">We focus on the best practices for it solutions and services.</p>
                                <a href="startup-consulting.html" class="display-30 text-secondary text-primary-hover">Read More <i class="ti-arrow-right display-31 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-xl-3 mt-1-9">
                        <div class="card card-style02 border-0 primary-shadow rounded-0 bg-white">
                            <div class="card-body px-1-9 py-2-6 text-center">
                                <div class="position-relative card-icon d-inline-block">
                                    <div class="icon">
                                        <img src="img/icons/icon-06.png" alt="..." class="w-45px">
                                    </div>
                                    <div class="icon-text">
                                        <span>02</span>
                                    </div>
                                </div>
                                <h3 class="h5"><a href="business-strategy.html">Business Strategy</a></h3>
                                <p class="text-muted mb-4">We focus on the best practices for it solutions and services.</p>
                                <a href="business-strategy.html" class="display-30 text-secondary text-primary-hover">Read More <i class="ti-arrow-right display-31 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-xl-3 mt-1-9">
                        <div class="card card-style02 border-0 primary-shadow rounded-0 bg-white">
                            <div class="card-body px-1-9 py-2-6 text-center">
                                <div class="position-relative card-icon d-inline-block">
                                    <div class="icon">
                                        <img src="img/icons/icon-04.png" alt="..." class="w-45px">
                                    </div>
                                    <div class="icon-text">
                                        <span>03</span>
                                    </div>
                                </div>
                                <h3 class="h5"><a href="finance-solution.html">Finance Solution</a></h3>
                                <p class="text-muted mb-4">We focus on the best practices for it solutions and services.</p>
                                <a href="finance-solution.html" class="display-30 text-secondary text-primary-hover">Read More <i class="ti-arrow-right display-31 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-xl-3 mt-1-9">
                        <div class="card card-style02 border-0 primary-shadow rounded-0 bg-white">
                            <div class="card-body px-1-9 py-2-6 text-center">
                                <div class="position-relative card-icon d-inline-block">
                                    <div class="icon">
                                        <img src="img/icons/icon-03.png" alt="..." class="w-45px">
                                    </div>
                                    <div class="icon-text">
                                        <span>04</span>
                                    </div>
                                </div>
                                <h3 class="h5"><a href="market-research.html">Market Research</a></h3>
                                <p class="text-muted mb-4">We focus on the best practices for it solutions and services.</p>
                                <a href="market-research.html" class="display-30 text-secondary text-primary-hover">Read More <i class="ti-arrow-right display-31 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT US
        ================================================== -->
        <section class="bg-img background-no-repeat background-position-left-bottom pt-0" data-overlay-dark="0" data-background="img/bg/bg-06.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-2-3 mb-lg-0">
                        <div class="position-relative rounded-lg-circle text-center text-lg-start">
                            <img src="img/content/about-05.jpg" class="rounded-circle" alt="...">
                            <div class="bg-transparent border-width-2 border-solid border-color-primary p-8 d-inline-block rounded-circle position-absolute left-10 top-75 z-index-1 ani-top-bottom d-none d-md-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-xl-4">
                            <div class="sec-title02 mb-1-9 mb-sm-2-6">
                                <span class="text-secondary font-weight-700">Let's Talk About Us!</span>
                                <h2 class="mb-0 display-5 font-weight-800 lh-1">One of the fastest Way to gain Business Success</h2>
                            </div>
                            <p class="mb-1-9">Our organization comprehend that to address your issues, we should initially comprehend your objectives and keep up that concentration all through the undertaking.</p>
                            <ul class="list-style03">
                                <li>Private finance &amp; business services</li>
                                <li>Custom strategy &amp; marketing</li>
                                <li>Private investment data analysis</li>
                            </ul>
                            <div class="row border-top mt-1-9 pt-1-9 gx-xl-5">
                                <div class="col-sm-6 mb-1-9 mb-sm-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 position-relative">
                                            <div class="bg-secondary p-2-2 d-inline-block rounded-circle position-absolute right-20 top-n20 z-index-1 d-none d-md-block"></div>
                                            <h3 class="h1 mb-0 position-relative z-index-9"><span class="countup">68</span></h3>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 class="h5 mb-0">World Class Companies</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 position-relative">
                                            <div class="bg-primary p-2-2 d-inline-block rounded-circle position-absolute right-20 top-n20 z-index-1 d-none d-md-block"></div>
                                            <h3 class="h1 mb-0 position-relative z-index-9"><span class="countup">29</span>k</h3>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 class="h5 mb-0">Worldwide Customers</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CLIENTS
        ================================================== -->
        <section class="py-0 client-style01">
            <div class="container-fluid p-sm-0">
                <div class="row g-0">
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner">
                                <img src="img/clients/01.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner two">
                                <img src="img/clients/02.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner three">
                                <img src="img/clients/03.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner four">
                                <img src="img/clients/04.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner">
                                <img src="img/clients/05.png" alt="...">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl">
                        <a href="#!">
                            <div class="text-center client-inner last">
                                <img src="img/clients/06.png" alt="...">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section class="bg-dark process-style1">
            <div class="container">
                <div class="sec-title02 mb-1-9 mb-sm-2-6 text-center">
                    <span class="text-secondary font-weight-700">Our Process</span>
                    <h2 class="mb-0 display-5 font-weight-800 lh-1 text-white">Our Working Plan</h2>
                </div>
                <div class="row mt-n2-9">
                    <div class="col-sm-6 col-lg-3 mt-2-9">
                        <div class="text-center process-box odd">
                            <div class="inner-box">
                                <div class="process-img">
                                    <img src="img/content/process-01.jpg" alt="...">
                                </div>
                                <div class="process-no">
                                    <span>01</span>
                                </div>
                            </div>
                            <h3 class="h5 mb-0 text-white">Client Needs</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-9">
                        <div class="text-center process-box">
                            <div class="inner-box">
                                <div class="process-img">
                                    <img src="img/content/process-02.jpg" alt="...">
                                </div>
                                <div class="process-no">
                                    <span>02</span>
                                </div>
                            </div>
                            <h3 class="h5 mb-0 text-white">Design</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-9">
                        <div class="text-center process-box odd">
                            <div class="inner-box">
                                <div class="process-img">
                                    <img src="img/content/process-03.jpg" alt="...">
                                </div>
                                <div class="process-no">
                                    <span>03</span>
                                </div>
                            </div>
                            <h3 class="h5 mb-0 text-white">Testing</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-9">
                        <div class="text-center process-box">
                            <div class="inner-box">
                                <div class="process-img">
                                    <img src="img/content/process-04.jpg" alt="...">
                                </div>
                                <div class="process-no">
                                    <span>04</span>
                                </div>
                            </div>
                            <h3 class="h5 mb-0 text-white">Go-Live</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-end mt-n1-9">
                    <div class="col-lg-6 mt-1-9">
                        <div class="pe-lg-1-9 pe-xl-7">
                            <div class="position-relative">
                                <div class="sec-title02 mb-1-9 mb-sm-2-6">
                                    <span class="text-secondary font-weight-700">Why Choose Us</span>
                                    <h2 class="mb-0 display-5 font-weight-800 lh-1">Our Consulting for All Kind of Business Services</h2>
                                </div>
                                <p class="mb-0">Our business consulting providing actionable recommend to force enterprise transformation. We focus on the best practices for it solutions and services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1-9">
                        <div>
                            <div class="row mb-6 mt-n4">
                                <div class="col-md-2 col-lg-4 mt-4">
                                    <div class="text-start text-md-end">
                                        <h4 class="display-10 display-md-5 mb-0 lh-1 text-primary"><span class="countup">65</span>+</h4>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-8 mt-4">
                                    <div class="ps-md-4">
                                        <h3 class="h4 mb-md-4">Positive Results</h3>
                                        <p class="mb-0">The groups serve every single significant segment. of the business. Our work draw on over 8+ years of experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-n4">
                                <div class="col-md-2 col-lg-4 mt-4">
                                    <div class="text-start text-md-end">
                                        <h4 class="display-10 display-md-5 mb-0 lh-1 text-primary"><span class="countup">98</span>+</h4>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-8 mt-4">
                                    <div class="ps-md-4">
                                        <h3 class="h4 mb-md-4">Happy Clients</h3>
                                        <p class="mb-0">The groups serve every single significant segment. of the business. Our work draw on over 8+ years of experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- EXTRA
        ================================================== -->
        <section class="bg-img cover-background py-10 py-sm-15 py-md-24 parallax" data-overlay-dark="4" data-background="img/bg/bg-01.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-xxl-8">
                        <div class="position-relative z-index-9 text-center">
                            <div class="sec-title02">
                                <span class="font-weight-700 text-white">Consulting . Planning . Business</span>
                                <h2 class="mb-1-9 mb-md-2-9 display-4 font-weight-800 mt-2 text-white">Schedule a Meeting to Take Your Business to the Next Level!</h2>
                                <a href="about.html" class="butn md secondary align-middle mb-3 mb-sm-0">See Features</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TEAM
        ================================================== -->
        <section>
            <div class="container">
                <div class="sec-title02 mb-1-9 mb-sm-2-6 text-center">
                    <span class="text-secondary font-weight-700">Our Team</span>
                    <h2 class="mb-0 display-5 font-weight-800 lh-1">Meet Our Experts</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="team-style01">
                            <div class="pb-1-9">
                                <div class="team-image position-relative">
                                    <div class="team-icons">
                                        <span class="team-icon ti-close"></span>
                                        <a href="#!" class="team-icon fab fa-twitter"></a>
                                        <a href="#!" class="team-icon fab fa-facebook-f"></a>
                                        <a href="#!" class="team-icon fab fa-instagram"></a>
                                    </div>
                                    <a href="team-details.html" class="team-inner-img">
                                        <img src="img/team/team-04.jpg" class="rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="h5 mb-1"><a href="team-details.html">Tesfay Kidane</a></h3>
                                <span class="small">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="team-style01">
                            <div class="pb-1-9">
                                <div class="team-image position-relative">
                                    <div class="team-icons">
                                        <span class="team-icon ti-close"></span>
                                        <a href="#!" class="team-icon fab fa-twitter"></a>
                                        <a href="#!" class="team-icon fab fa-facebook-f"></a>
                                        <a href="#!" class="team-icon fab fa-instagram"></a>
                                    </div>
                                    <a href="team-details.html" class="team-inner-img">
                                        <img src="img/team/team-05.jpg" class="rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="h5 mb-1"><a href="team-details.html">Meaza Osman</a></h3>
                                <span class="small">Co - Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="team-style01">
                            <div class="pb-1-9">
                                <div class="team-image position-relative">
                                    <div class="team-icons">
                                        <span class="team-icon ti-close"></span>
                                        <a href="#!" class="team-icon fab fa-twitter"></a>
                                        <a href="#!" class="team-icon fab fa-facebook-f"></a>
                                        <a href="#!" class="team-icon fab fa-instagram"></a>
                                    </div>
                                    <a href="team-details.html" class="team-inner-img">
                                        <img src="img/team/team-06.jpg" class="rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="h5 mb-1"><a href="team-details.html">Futsum Abel</a></h3>
                                <span class="small">Sr. Director</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="team-style01">
                            <div class="pb-1-9">
                                <div class="team-image position-relative">
                                    <div class="team-icons">
                                        <span class="team-icon ti-close"></span>
                                        <a href="#!" class="team-icon fab fa-twitter"></a>
                                        <a href="#!" class="team-icon fab fa-facebook-f"></a>
                                        <a href="#!" class="team-icon fab fa-instagram"></a>
                                    </div>
                                    <a href="team-details.html" class="team-inner-img">
                                        <img src="img/team/team-07.jpg" class="rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="h5 mb-1"><a href="team-details.html">Sara Mehari</a></h3>
                                <span class="small">Head of Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT
        ================================================== -->
        <section class="bg-light-gray py-7">
            <div class="container">
                <div class="row align-items-center mt-n1-9">
                    <div class="col-lg-8 col-xl-7 col-xxl-6 mt-1-9">
                        <div class="sec-title02">
                            <h2 class="mb-0 display-6 font-weight-800 lh-1">Get Your Free Business Industrial. Contact to Ask Any Question!</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-5 col-xxl-6 mt-1-9">
                        <div class="text-start text-lg-end">
                            <a href="contact.html" class="butn md"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer class="pt-10">
            <div class="container">
                <div class="row border-bottom border-color-light-white pb-8 mt-n1-9">
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div>
                            <div class="position-relative mb-4">
                                <div class="sec-title02">
                                    <span class="text-secondary font-weight-700">Address</span>
                                </div>
                            </div>
                            <address class="mb-0 display-29 display-md-28 display-xl-27 text-white opacity7">London — <br> 4211 Webster Street Rahway, <br> Franklin Park, Indiana</address>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="ps-sm-2-9 ps-xl-7">
                            <div class="position-relative mb-4">
                                <div class="sec-title02">
                                    <span class="text-secondary font-weight-700">Say Hello</span>
                                </div>
                            </div>
                            <p class="email"><a href="mailto:info@yourdomain.com" class="display-29 display-md-28 display-xl-27">info@yourdomain.com</a></p>
                            <p class="phone"><a href="tel:+442056581823" class="display-26 display-md-25 display-xl-24">+44 205-658-1823</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div>
                            <div class="position-relative mb-4">
                                <div class="sec-title02">
                                    <span class="text-secondary font-weight-700">Newsletter</span>
                                </div>
                            </div>
                            <p class="display-27">Subscribe to our newsletter for discounts and more.</p>
                                <form class="quform newsletter-form" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-elements">
                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element mb-0">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-white text-white m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row py-1-9 align-items-center mt-n1-9">
                    <div class="col-lg-6 mt-1-9">
                        <div class="text-center text-lg-start">
                            <a href="inde.html" class="footer-logo"><img src="img/logos/footer-light-logo.png" alt="Footer Logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1-9">
                        <div class="text-center text-lg-end">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> All rights reserved by <a href="#!" class="text-primary text-secondary-hover">Chitrakoot Web</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/betbiz-business-consulting-html-template-WB0K64553" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
    
</body>

</html>