<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Business Consulting HTML Template">
    <meta name="description" content="Betbiz - Business Consulting HTML Template">

    <!-- title  -->
    <title>Betbiz - Business Consulting HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2">
            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-secondary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler bg-dark"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="#!">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-02.html">Home 02</a></li>
                                                <li><a href="index-03.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="#!">Our Services</a>
                                                    <ul>
                                                        <li><a href="services-01.html">Services 01</a></li>
                                                        <li><a href="services-02.html">Services 02</a></li>
                                                        <li><a href="services-03.html">Services 03</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="faq.html">FAQ's</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                                <li><a href="404-page.html">404 Page</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Service</a>
                                            <ul>
                                                <li><a href="startup-consulting.html">Startup Consulting</a></li>
                                                <li><a href="business-strategy.html">Business Strategy</a></li>
                                                <li><a href="finance-solution.html">Finance Solution</a></li>
                                                <li><a href="market-research.html">Market Research</a></li>
                                                <li><a href="investment-plan.html">Investment Plan</a></li>
                                                <li><a href="detail-report.html">Detail Report</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Portfolio</a>
                                            <ul>
                                                <li><a href="#!">Portfolio Grid</a>
                                                    <ul>
                                                        <li><a href="portfolio-two-columns.html">2 Columns</a></li>
                                                        <li><a href="portfolio.html">3 Columns - Standard</a></li>
                                                        <li><a href="portfolio-four-columns.html">4 Columns</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="#!">Blog Grid</a>
                                                    <ul>
                                                        <li><a href="blog-grid-two-columns.html">2 Columns</a></li>
                                                        <li><a href="blog-grid-two-columns-left-sidebar.html">2 Col – Left Sidebar</a></li>
                                                        <li><a href="blog-grid-two-columns-right-sidebar.html">2 Col – Right Sidebar</a></li>
                                                        <li><a href="blog-grid.html">3 Columns - Standard</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="contact.html" class="butn md"><span>Free Quote</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background mx-lg-1-6 mx-xl-2-5 mx-xxl-2-9 border-lg-radius-10" data-overlay-dark="3" data-background="img/banner/page-title.jpg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>Portfolio Details</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Portfolio Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO DETAILS
        ================================================== -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div>
                            <img src="img/portfolio/portfolio-details-01.jpg" class="primary-shadow border-radius-5" alt="...">
                            <div class="bg-secondary p-5 border-radius-5 mx-1-6 mx-md-5 mt-n8 position-relative mb-1-9 mb-md-5">
                                <div class="row mt-n1-9">
                                    <div class="col-sm-6 col-lg-3 mt-1-9">
                                        <div class="text-center">
                                            <h4 class="text-white mb-1 h5">Client</h4>
                                            <span class="text-white opacity8">Habte Yonatan</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-1-9">
                                        <div class="text-center">
                                            <h4 class="text-white mb-1 h5">Category</h4>
                                            <span class="text-white opacity8">Business</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-1-9">
                                        <div class="text-center">
                                            <h4 class="text-white mb-1 h5">Date</h4>
                                            <span class="text-white opacity8">26 Dec, 2023</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-1-9">
                                        <div class="text-center">
                                            <h4 class="text-white mb-1 h5">Cost</h4>
                                            <span class="text-white opacity8">$9254.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <h2 class="h3 mb-0 mb-4">Project Summary</h2>
                            <p>Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            <div class="row mb-4">
                                <div class="col-lg-6">
                                    <ul class="list-style02 mb-0">
                                        <li>Working to enhance conversation skills</li>
                                        <li>Clarifying and accomplishing private and expert goals</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-style02 mb-0">
                                        <li>A Career Overview opportunity.</li>
                                        <li>Accomplishing financial freedom and security</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="mb-1-9">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                            <div class="page-navigation mb-8 mb-md-9 mb-lg-10">
                                <div class="prev-page">
                                    <div class="page-info">
                                        <a href="#!">
                                            <span class="image-prev"><img src="img/portfolio/prev-project.jpg" alt="..."></span>
                                            <div class="prev-link-page-info">
                                                <h4 class="prev-title">Marketing Analysis</h4>
                                                <span class="date-details"><span class="create-date">March 08, 2024</span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="next-page">
                                    <div class="page-info">
                                        <a href="#!">
                                            <div class="next-link-page-info">
                                                <h4 class="next-title">Technology in Business</h4>
                                                <span class="date-details"><span class="create-date">January 02, 2024</span></span>
                                            </div>
                                            <span class="image-next"><img src="img/portfolio/next-project.jpg" alt="..."></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="h3 mb-0 mb-4">Related Portfolio</h2>
                                <div class="portfolio-style01">
                                    <div class="portfolio-detail-carousel owl-theme owl-carousel">
                                        <div>
                                            <div class="portfolio-block position-relative">
                                                <img src="img/portfolio/portfolio-grid-01.jpg" alt="..." class="border-radius-5">
                                                <div class="portfolio-text">
                                                    <h4 class="mb-5"><a href="portfolio-details.html" class="text-white">Implementation Planning</a></h4>
                                                    <div>
                                                        <a href="portfolio-details.html" class="portfolio-button portfolio-link">
                                                            <span class="button-text">Read More</span>
                                                            <span class="button-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="portfolio-block position-relative">
                                                <img src="img/portfolio/portfolio-grid-02.jpg" alt="..." class="border-radius-5">
                                                <div class="portfolio-text">
                                                    <h4 class="mb-5"><a href="portfolio-details.html" class="text-white">Technology in Business</a></h4>
                                                    <div>
                                                        <a href="portfolio-details.html" class="portfolio-button portfolio-link">
                                                            <span class="button-text">Read More</span>
                                                            <span class="button-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="portfolio-block position-relative">
                                                <img src="img/portfolio/portfolio-grid-03.jpg" alt="..." class="border-radius-5">
                                                <div class="portfolio-text">
                                                    <h4 class="mb-5"><a href="portfolio-details.html" class="text-white">Marketing Analysis</a></h4>
                                                    <div>
                                                        <a href="portfolio-details.html" class="portfolio-button portfolio-link">
                                                            <span class="button-text">Read More</span>
                                                            <span class="button-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="portfolio-block position-relative">
                                                <img src="img/portfolio/portfolio-grid-04.jpg" alt="..." class="border-radius-5">
                                                <div class="portfolio-text">
                                                    <h4 class="mb-5"><a href="portfolio-details.html" class="text-white">The Power of Data</a></h4>
                                                    <div>
                                                        <a href="portfolio-details.html" class="portfolio-button portfolio-link">
                                                            <span class="button-text">Read More</span>
                                                            <span class="button-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer class="bg-dark">
            <div class="container py-6 py-lg-8">
                <div class="row mt-n2-9">
                    <div class="col-md-6 col-lg-5 mt-2-9">

                        <div class="footer-logo mb-1-9">
                            <a href="index.html"><img src="img/logos/footer-light-logo.png" alt="Footer Logo"></a>
                        </div>

                        <h4 class="text-white mb-1-9 fw-light w-lg-75 display-29 lh-base opacity8 letter-spacing-1">We assist you to develop up your flourishing commercial enterprise.</h4>

                        <ul class="social-icon-style1">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-md-6 col-lg-3 mt-2-9">
                        <h3 class="text-white mb-1-9 letter-spacing-1">Newsletter</h3>
                        <p class="text-white opacity9">Don’t miss to subscribe to our new feeds.</p>
                        <form class="quform newsletter-form" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                            <div class="quform-elements">
                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element mb-0">
                                            <div class="quform-input">
                                                <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-white text-white m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-2-9 offset-lg-1">
                        <h3 class="text-white mb-1-9 letter-spacing-1">Contacts</h3>
                        <div class="d-flex mb-1-9">
                            <div class="flex-shrink-0"><img src="img/icons/icon-phone.png" alt="..." class="w-40px"></div>
                            <div class="flex-grow-1 ms-3">
                                <h4 class="mb-1 h5 text-white">Contact Us</h4>
                                <p class="mb-0 text-white">(44) 123-456-789</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img src="img/icons/icon-mail.png" alt="..." class="w-40px"></div>
                            <div class="flex-grow-1 ms-3">
                                <h4 class="mb-1 h5 text-white">Mail Us</h4>
                                <p class="mb-0 text-white">info@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-color-light-white">
                <div class="container">
                    <p class="text-white mb-0 text-center">&copy; <span class="current-year"></span> All rights reserved by <a href="#!" class="text-secondary white-hover font-weight-500">Chitrakoot Web</a></p>
                </div>
            </div>
        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/betbiz-business-consulting-html-template-WB0K64553" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
    
</body>

</html>